quietplace {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  font-family: monospace;
  font-size: 16px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 4em;
  max-width: 40em;
  margin: 0 auto;
  outline: none;
  line-height: 1.4;
}

fullscreen {
  position: absolute;
  top: 3px;
  right: 8px;
  font-size: 22px;
  color: #aaa;
  cursor: pointer;
  font-family: Arial;
  padding: 5px;
}

fullscreen:hover {
  color: #000;
}

bg:fullscreen, bg:-webkit-full-screen, bg:-moz-full-screen {
  background-color: rgba(255,255,255,0);
}

bg {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  display: none;
}

intro {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  font-family: monospace;
  font-size: 48px;
  text-align: center;
  display: block;
  position: absolute;
  top: 50%; left: 0; right: 0;
  margin-top: -100px;
}

intro.bold {
  opacity: 1;
}

html, body {
  min-height: 100%;
}

title, version {
  display: block;
}

version {
  color: #bbb;
  font-size: 22px;
  margin-top: 8px;
}
